.technologyInfo {
  display: flex;
  flex-direction: column;
}
.technologyNavigation {
  display: flex;
  flex-direction: row;
}
@media all and (min-width: 992px) {
  .technologyInfo {
    flex-direction: row;
  }
  .technologyNavigation {
    flex-direction: row;
  }
}
